.feed-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-sidebar {
    position: relative;
    width: 297px;
}

.center-feed {
    width: 600px;
    height: 766px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.center-feed h1 {
    text-align: center;
}