.landing-header {
    height: 496px;
width: 1184px;
left: -53px;
top: 194px;
border-radius: nullpx;
font-family: Rubik;
font-size: 333px;
font-style: normal;
font-weight: 700;
line-height: 248px;
letter-spacing: 0em;
text-align: left;

}