.top-bar-container {
    background-color:#000000;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-left{
    width: 500px;
}

.top-bar-left h1 {
    color: white;
    margin-left: 50px;
}

.top-bar-right{
    width: 200px;
    display: flex;
    justify-content: center;
    color: white;
}