.top-bar-container {
    background-color:#000000;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-left{
    width: 500px;
    display: flex;
    align-items: center;
}

.top-bar-left-link {
    display: flex;
    align-items: center;
}

.top-bar-left h1 {
    color: white;
    margin-left: 10px;
}

.top-bar-right{
    width: 200px;
    display: flex;
    justify-content: center;
    color: white;
}

.userpage-link{
    font-size: 48px;
    padding-right: 50%;
    vertical-align: center;
}

.signout-button{
    align-self: center;
    padding-right: 50%;
    block-size: auto;
}

.logo {
    max-width: 69px;
    max-height: 53px;
    margin-left: 50px;
}