.sidebar-container {
    
}

.sidebar-title{
    text-align: center;
}

.sidebar{
    background-color: #E7E5E1;
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    height: 100%;
    width: 90%;
    padding: 10px;
    transition: all .2s ease;
    align-content: center;
}