.dashboard-container{
    display: grid;
    grid-template-columns: 25% 70% 5%;
    overflow: hidden;
}




.classes-list{
    width: 100%;
    height: 64%;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.dashboard-title{
    padding-bottom: 20px;
}

.dashboard-title h1{
    font-size: 3em;
    height: 30px;
    text-align: center;
}