body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type = text],input[type = password]{
  border: none;
  background-color: #ffffff;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 100%;
  height: 30px;
  font-size: 24px
}
::placeholder{
  color: #d8d8d8;
}

#root{
  width: 100%;
  height: auto;
}

body{
  background-color: #31363a;
  overflow: hidden;
}

.h1-black{
  color: black;
}

.h1-white {
  color: #f4f5f8;
}

.p-black{
  color: black;
}
